# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'weekly' # Check for updates every week
    labels:
      - 'type: dependencies' # Add label
    reviewers:
      - 'honeycombio/pink-gremlins'
    commit-message:
      prefix: 'maint' # Add PR title prefix
      include: 'scope'
    groups:
      otel:
        patterns:
          - '@opentelemetry/*' # Update all otel dependencies together
      dev-dependencies: # Update dev dependencies together instead of piecemeal
        patterns:
          - '@type*'
          - 'cypress'
          - 'eslint*'
          - 'jest*'
          - 'prettier'
          - 'ts-*'
          - 'typescript'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major'] # Ignore major version updates for all packages.
  - package-ecosystem: 'npm'
    directory: '/examples/hello-world-web' # Location of package manifests
    schedule:
      interval: 'weekly' # Check for updates every week
    labels:
      - 'type: dependencies' # Add label
    reviewers:
      - 'honeycombio/pink-gremlins'
    commit-message:
      prefix: 'maint' # Add PR title prefix
      include: 'scope'
    groups:
      example-deps:
        patterns:
          - '*' # Update all dependencies in example app
